asgiref==3.6.0
backports.zoneinfo==0.2.1
certifi==2022.12.7
charset-normalizer==3.0.1
dj-database-url==0.5.0
Django==2.2.28
django-paypal==1.1.2
djangorestframework==3.11.0
gunicorn==19.10.0
idna==3.4
pi==0.1.2
psycopg2==2.9.5
pytz==2018.9
requests==2.28.2
six==1.16.0
sqlparse==0.4.3
urllib3==1.26.14
whitenoise==4.1.4
yagmail==0.11.220
