<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Camper Info</title>
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>
</head>
<body>
<div>
    <button onclick="window.location.href = '/check_who_paid';">Check Who Paid</button>
    <button onclick="window.location.href = '/open_reg';">Open Reg</button>
    <button onclick="window.location.href = '/close_reg';">Close Reg</button>
    <h3>What is Reg Flag: {{ reg_flag }}</h3>
</div>
<h1>Data is for {{ camp_filter }}</h1>

<button onclick="window.location.href = '/camper_info/';">Winter 2026 Camp</button>
<button onclick="window.location.href = '/camper_info/2025_summer_camper_info/';">Summer 2025 Camp</button>
<button onclick="window.location.href = '/camper_info/2024_summer_camper_info/';">Summer 2024 Camp</button>
<button onclick="window.location.href = '/camper_info/2023_summer_camper_info/';">Summer 2023 Camp</button>
<button onclick="window.location.href = '/camper_info/2022_summer_camper_info/';">Summer 2022 Camp</button>
<button onclick="window.location.href = '/camper_info/2021_fall_camper_info/';">Fall 2021 Camp</button>
<button onclick="window.location.href = '/camper_info/2020_camper_info_fall/';">Fall 2020 Camp</button>
<button onclick="window.location.href = '/camper_info/2020_spring_camper_info/';">Spring 2020 Camp</button>
<button onclick="window.location.href = '/camper_info/2019_camper_info_spring/';">Spring 2019 Camp</button>
<h1>Campers that Paid: {{ final_paid_count }}</h1>
<table style="width:100%">
    {% if base_camper_keys %}
        <tr>
            {% for key in base_camper_keys %}
                <td>{{ key }}</td>

            {% endfor %}
        </tr>
    {% endif %}

    {% for camper in final_paid_campers_info %}
        <tr>
            <td>{{ camper.pk }}</td>
            <td>{{ camper.first_name }}</td>
            <td>{{ camper.last_name }}</td>
            <td>{{ camper.date_of_birth }}</td>
            <td>{{ camper.email }}</td>
            <td>{{ camper.phone }}</td>
            <td>{{ camper.city }}</td>
            <td>{{ camper.state }}</td>
            <td>{{ camper.med_notes }}</td>
            <td>{{ camper.church }}</td>
            <td>{{ camper.pastor }}</td>
            <td>{{ camper.pastor_number }}</td>
            <td>{{ camper.church_member }}</td>
            <td>{{ camper.not_married }}</td>
            <td>{{ camper.mug }}</td>
            <td>{{ camper.region }}</td>
            <td>{{ camper.activity }}</td>
            <td>{{ camper.tshirt_size }}</td>
            <td>{{ camper.swshirt_size }}</td>
            <td>{{ camper.paid }}</td>
            <td>{{ camper.email_sent }}</td>
            <td>{{ camper.created }}</td>
        </tr>
    {% endfor %}

</table>

<h1>Campers that didnt Pay: {{ not_count }}</h1>
<table style="width:100%">
    {% if base_camper_keys %}
        <tr>
            {% for key in base_camper_keys %}
                <td>{{ key }}</td>

            {% endfor %}
        </tr>
    {% endif %}

    {% for camper in not_campers_info %}
        <tr>
            <td>{{ camper.pk }}</td>
            <td>{{ camper.first_name }}</td>
            <td>{{ camper.last_name }}</td>
            <td>{{ camper.date_of_birth }}</td>
            <td>{{ camper.email }}</td>
            <td>{{ camper.phone }}</td>
            <td>{{ camper.city }}</td>
            <td>{{ camper.state }}</td>
            <td>{{ camper.med_notes }}</td>
            <td>{{ camper.church }}</td>
            <td>{{ camper.pastor }}</td>
            <td>{{ camper.pastor_number }}</td>
            <td>{{ camper.church_member }}</td>
            <td>{{ camper.not_married }}</td>
            <td>{{ camper.mug }}</td>
            <td>{{ camper.region }}</td>
            <td>{{ camper.activity }}</td>
            <td>{{ camper.tshirt_size }}</td>
            <td>{{ camper.swshirt_size }}</td>
            <td>{{ camper.paid }}</td>
            <td>{{ camper.email_sent }}</td>
            <td>{{ camper.created }}</td>
        </tr>
    {% endfor %}
</table>
<h1>Campers that didnt Pay and no duplicates: {{ not_email_count }}</h1>
<table style="width:100%">
    {% if base_camper_keys %}
        <tr>
            {% for key in base_camper_keys %}
                <td>{{ key }}</td>

            {% endfor %}
        </tr>
    {% endif %}

    {% for camper in not_paid_email_info %}
        <tr>
            <td>{{ camper.pk }}</td>
            <td>{{ camper.first_name }}</td>
            <td>{{ camper.last_name }}</td>
            <td>{{ camper.date_of_birth }}</td>
            <td>{{ camper.email }}</td>
            <td>{{ camper.phone }}</td>
            <td>{{ camper.city }}</td>
            <td>{{ camper.state }}</td>
            <td>{{ camper.med_notes }}</td>
            <td>{{ camper.church }}</td>
            <td>{{ camper.pastor }}</td>
            <td>{{ camper.pastor_number }}</td>
            <td>{{ camper.church_member }}</td>
            <td>{{ camper.not_married }}</td>
            <td>{{ camper.mug }}</td>
            <td>{{ camper.region }}</td>
            <td>{{ camper.activity }}</td>
            <td>{{ camper.tshirt_size }}</td>
            <td>{{ camper.swshirt_size }}</td>
            <td>{{ camper.paid }}</td>
            <td>{{ camper.email_sent }}</td>
            <td>{{ camper.created }}</td>
        </tr>
    {% endfor %}
</table>

<h1>Campers that Paid including Refunds: {{ paid_count }}</h1>
<table style="width:100%">
    {% if base_camper_keys %}
        <tr>
            {% for key in base_camper_keys %}
                <td>{{ key }}</td>

            {% endfor %}
        </tr>
    {% endif %}

    {% for camper in paid_campers_info %}
        <tr>
            <td>{{ camper.pk }}</td>
            <td>{{ camper.first_name }}</td>
            <td>{{ camper.last_name }}</td>
            <td>{{ camper.date_of_birth }}</td>
            <td>{{ camper.email }}</td>
            <td>{{ camper.phone }}</td>
            <td>{{ camper.city }}</td>
            <td>{{ camper.state }}</td>
            <td>{{ camper.med_notes }}</td>
            <td>{{ camper.church }}</td>
            <td>{{ camper.pastor }}</td>
            <td>{{ camper.pastor_number }}</td>
            <td>{{ camper.church_member }}</td>
            <td>{{ camper.not_married }}</td>
            <td>{{ camper.mug }}</td>
            <td>{{ camper.region }}</td>
            <td>{{ camper.activity }}</td>
            <td>{{ camper.tshirt_size }}</td>
            <td>{{ camper.swshirt_size }}</td>
            <td>{{ camper.paid }}</td>
            <td>{{ camper.email_sent }}</td>
            <td>{{ camper.created }}</td>
        </tr>
    {% endfor %}

</table>

</body>
</html>
