<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Fully Alive Retreat</title>
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'registration/assets/bootstrap/css/bootstrap.min.css' %}"/>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>
</head>
<body>

{#<div class="picture fellow1" style="text-align: center">#}
{#</div>#}
{##}
{#<div class="picture fellow2" style="text-align: center">#}
{#</div>#}
{#<div class="picture fellow3" style="text-align: center">#}
{#        <button class="invis-button-div back-button-bottom-center" onclick="goBack()"type="button"></button>#}
{#</div>#}

<div class="olga-pic-forest">
    <div>
        <div class="row">
            <div class="fellowship-forest col-xs-3 offset-md-2 col-md-3">
                                <h2
                        style="color: #ba8f7b;font-family: 'Source Sans Pro', sans-serif;font-size: 30px;font-weight: 600;padding: 10px 10px 25px 10px;">
                    Nature</h2>
                <p class="text-center phone-forest-text-padding" style="color: #FFFFFF;font-size: 30PX;font-weight: 600;">The beautiful camp
                    ground is surrounded by a forest with hills and mountains and two rivers.</p>

            </div>
            <div class="fellowship-forest col-xs-3  offset-md-2 col-md-3">
                <h2
                        style="color: #ba8f7b;font-family: 'Source Sans Pro', sans-serif;font-size: 30px;font-weight: 600;padding: 10px 10px 25px 10px;">
                    Activities</h2>
                <p class="text-center phone-forest-text-padding" style="color: #FFFFFF;font-size: 30PX;font-weight: 600;">Volleyball, hikes off
                    and on the camp grounds, camp games, swimming and more! Oh, and of course star gazing.</p>
            </div>
        </div>
        <div class="row">
            <div class="fellowship-forest fellowship-forest-center col-xs-3 ">
<h2
                        style="color: #ba8f7b;font-family: 'Source Sans Pro', sans-serif;font-size: 30px;font-weight: 600;padding: 10px 10px 25px 10px;">
                    Fellowship</h2>
                <p class="text-center phone-forest-text-padding" style="color: #FFFFFF;font-size: 30PX;font-weight: 600;">Experience
                    amazing fellowship with brothers and sisters in Christ, centered on the topic of living
                    a life of abundance and what that truly means for the people at our stage of life</p>
            </div>
        </div>
    </div>
</div>
</div>


<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>
