<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Fully Alive Retreat</title>
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'registration/assets/bootstrap/css/bootstrap.min.css' %}"/>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>
</head>
<body>

{#<div class="picture fellow1" style="text-align: center">#}
{#</div>#}
{##}
{#<div class="picture fellow2" style="text-align: center">#}
{#</div>#}
{#<div class="picture fellow3" style="text-align: center">#}
{#        <button class="invis-button-div back-button-bottom-center" onclick="goBack()"type="button"></button>#}
{#</div>#}

<div class="olga-pic-forest">


    <div>
        <div class="row">
            <div class="text-left-desktop fellowship-forest col-xs-3 offset-md-1 col-md-3">
                <h2 class="forest-text-header">
                    NATURE</h2>
                <p class=" phone-forest-text-padding forest-text-body">THE SHOSHONE MOUNTAIN RETREAT IS SURROUNDED
                    BY IDYLLIC FORESTS, HILLS, MOUNTAINS AND THE COEUR D'ALENE RIVER.
                </p>

            </div>
            <div class="text-center-desktop fellowship-forest col-xs-3 col-md-3">

                <h2 class="forest-text-header">
                    ACTIVITIES</h2>
                <p class=" phone-forest-text-padding forest-text-body">
                    CAMP GAMES, VOLLEYBALL, HIKES OFF & ON THE
                    CAMPGROUNDS, SWIMMING AND MORE! OH, AND OF COURSE STAR GAZING
                </p>
            </div>
            <div class="text-right-desktop fellowship-forest col-xs-3 col-md-3">

                <h2 class="forest-text-header">
                    FELLOWSHIP</h2>
                <p class="phone-forest-text-padding forest-text-body smaller-font">
                    EXPERIENCE INSPIRING FELLOWSHIP WITH
                    BROTHERS AND SISTERS IN CHRIST, CENTERED ON THE TOPIC OF LIVING A LIFE OF ABUNDANCE AND WHAT THAT
                    TRULY MEANS.</p>
            </div>
        </div>
    </div>
</div>

</div>



<script>
function goBack() {
  window.history.back();
}
</script>
</body>
</html>
