<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Fully Alive Retreat</title>
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>
</head>
<body>
<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<div id="menuBody"></div>
<nav role="navigation">
    <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox"/>

        <!--
        Some spans to act as a hamburger.

        They are acting like a real hamburger,
        not that McDonalds stuff.
        -->
        <span></span>
        <span></span>
        <span></span>

        <!--
        Too bad the menu has to be inside of the button
        but hey, it's pure CSS magic.
        -->
        <ul id="menu">
            <a href="/">
                <li>Home</li>
            </a>
{#            <a href="/infotwo">#}
{#                <li>About</li>#}
{#            </a>#}
            <a href="/infotwo">
                <li>Info</li>
            </a>
{#            <a href="/infotwo">#}
{#                <li>Contact</li>#}
{#            </a>#}

        </ul>
    </div>
</nav>

<div class="picture test-header-pic"></div>
<div class="main-title">
    <div class=" main_title_text">
        FULLY
    </div>
    <div class="custom-row">
        <div class="main_title_text column60">
            ALIVE
        </div>
        <div class="column40">
            <div class="main2_title_text ">2020</div>
            <div class="main3_title_text">Retreat</div>
        </div>
    </div>
</div>
<div class="picture mission"></div>
<div class="picture verse">
    <div class="verse-div">
        <div class="verse1">BY HUMILITY</div>
        <div class="verse2"> & THE FEAF OF THE</div>

        <div class="verse3 custom-row">
            <div class="column_verse_40">LORD</div>
            <div class="column_verse_60"> ARE RICHES,</div>
        </div>
        <div class="verse4"> & HONOUR, & LIFE.</div>
    </div>
</div>
<div class="picture schedule"></div>
<div class="picture mess2"></div>
<div class="picture mess3"></div>
<div class="picture mess4"></div>


<h2>Automatic Slideshow</h2>
<p>Change image every 2 seconds:</p>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / </div>
  <img src="{% static "registration/Picture1.jpg" %}" style="width:100%">
  <div class="text">Caption Text</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / </div>
  <img src="{% static "registration/Picture2.png" %}" style="width:100%">
  <div class="text">Caption Two</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / </div>
  <img src="{% static "registration/Picture3.png" %}" style="width:100%">
  <div class="text">Caption Three</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / </div>
  <img src="{% static "registration/Picture6.png" %}" style="width:100%">
  <div class="text">Caption Four</div>
</div>

</div>
<br>

<div style="text-align:center">
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
  <span class="dot"></span>
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
<script>

</script>
</body>
</html>
