<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Fully Alive Retreat</title>
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>
</head>
<body>
<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<div id="menuBody"></div>
<nav role="navigation">
    <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox"/>

        <!--
        Some spans to act as a hamburger.

        They are acting like a real hamburger,
        not that McDonalds stuff.
        -->
        <span></span>
        <span></span>
        <span></span>

        <!--
        Too bad the menu has to be inside of the button
        but hey, it's pure CSS magic.
        -->
        <ul id="menu">
            <a href="/">
                <li>Home</li>
            </a>
{#            <a href="/infotwo">#}
{#                <li>About</li>#}
{#            </a>#}
            <a href="/infotwo">
                <li>Info</li>
            </a>
{#            <a href="/infotwo">#}
{#                <li>Contact</li>#}
{#            </a>#}

        </ul>
    </div>
</nav>

<div class="picture test-header-pic"></div>
<div class="main-title">
    <div class=" main_title_text">
        FULLY
    </div>
    <div class="custom-row">
        <div class="main_title_text column60">
            ALIVE
        </div>
        <div class="column40">
            <div class="main2_title_text ">2020</div>
            <div class="main3_title_text">Retreat</div>
        </div>
    </div>
</div>
<div class="picture mission"></div>
<div class="picture verse">
    <div class="verse-div">
        <div class="verse1">BY HUMILITY</div>
        <div class="verse2"> & THE FEAF OF THE</div>

        <div class="verse3 row">
            <div class="column_verse_40">LORD</div>
            <div class="column_verse_60"> ARE RICHES,</div>
        </div>
        <div class="verse4"> & HONOUR, & LIFE.</div>
    </div>
</div>
<div class="picture schedule"></div>
<div class="picture mess2"></div>
<div class="picture mess3"></div>
<div class="picture mess4"></div>


{#<div class="countdown">#}
{#    <span>Time left until Camp</span>#}
{#    <iframe src="http://free.timeanddate.com/countdown/i75du29o/n137/cf11/cm0/cu4/ct0/cs0/cac000/co0/cr0/ss0/cac000/cpc000/pcfff/tcfff/fs100/iso2020-06-11T18:00:00"#}
{#            allowTransparency="true" frameborder="0" width="289" height="18"></iframe>#}
{#</div>#}
{##}
{#<div class="date_loc_div">#}
{#    <h2>#}
{#        LOCATION: TWIN ROCKS FRIENDS CAMP ROCKAWAY BEACH, OREGON#}
{#        <br>DATE: JUNE 11th - 14th#}
{#        <br>SPACE IS LIMITED#}
{#        <br>AGE: 23+#}
{#    </h2>#}
{#</div>#}
{#<div class="picture map"></div>#}
<!--
slide show
calender
schedule
map
-->


<!--
<div class="title-2020">
    <span class="text-2020 title-year">2 0 2 0</span>
    <p class="text-2020 title">
        <br><span class="text-2020 title">F U L L Y</span>
        <span class="text-2020 title">A L I V E</span>
        <br> R E T R E A T
        <br> <span class="text-2020 title-date"> JUNE 11th - 14th</span>
    </p>


</div>
<div class="caption">
    <span class="no-margin">S C R O L L</span>
    <span class="no-margin">D O W N</span>
</div>
<div class="trasparent-bar"></div>

<div class="parallax verse"></div>
<div class="trasparent-bar-1"></div>

<div class="parallax invite"></div>
<div class="trasparent-bar-2 trasparent-bar-2"></div>

<div class="parallax wave-test"></div>
<div class="date-2020">
    <p><span class="text-2020 date-title">PNW YOUTH RETREAT</span>
        <br> <span class="text-2020 date-location">LOCATION: TWIN ROCKS FRIENDS CAMP</span>
        <br> <span class="text-2020 date-location-offset"> ROCKAWAY BEACH, OREGON </span>
        -->
<!-- <br> <span class="date-2020-text"> JUNE <span style="font-family: 'Times New Roman'">11</span>th - <span style="font-family: 'Times New Roman'">14</span>th -->
<!--
 <br> <span class="text-2020 date"> JUNE 11th - 14th</span>
 <br><span class="text-2020 date-limit"> <span class="text-2020 date-limit">SPACE</span> <span
         class="text-2020 date-limit">IS </span>
    <span class="text-2020 date-limit">LIMITED</span> AGE: 23+ </span>
</p>
</div>
<div class="trasparent-bar-3 trasparent-bar-3"></div>

<div class="parallax register-pic"></div>
<div class="button-row button-row-1">
<button class="reg-button" onclick="window.location.href='/registration'">REGISTER</button>
</div>
<div class="button-row button-row-2">
<button class="info-button" onclick="window.location.href='/infotwo'">MORE INFO</button>
</div>
<script>


</script>
-->
<script>

</script>
</body>
</html>
