<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <title>More Info</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>

    <style>

        br {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
        }

    </style>
</head>
<body class="wave-backgroud">

<img src="{% static 'registration/NWASBC Logo FINAL Full Wording Vertical White.png' %}" class="logo hidden-xs">
<img src="{% static 'registration/NWASBC Logo Acronym Horizontal.png' %}" class="logo-xs visible-xs">

<div class="container">
    <div class="moreinfoBox col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="center">
            <h1>FULLY ALIVE RETREAT 2021</h1>
        </div>


        <!-- Dates & Cost-->
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-3">
                <h2>DATES</h2>
                <br>September 9<sup>th</sup> - 12<sup>th</sup>
                <br>Check In: 3 PM
                     <br>Check Out: 11 AM

                <h2>TOPIC:</h2>
                <br>Abundant Life
                <br>Speaker: TBA

                <h2>REGISTRATION INFO</h2>
                <br><b>You must be a member of a Baptist church to attend the Fully Alive Retreat</b>
                <br>Online registration only
                <br>Deadline to register: August 29<sup>th</sup>
                <br>Capacity: {{ max_capacity }} people
                <br>Age: 25 and older (23+, if allowed by the local church)

                <h2>COST</h2>
                <br>${{ camp_price }}
                <br>Refunds are not full price, due to PayPal fee
{#                <br>Deadline for a refund is Nov 1<sup>st</sup>#}

                <h2>ADDITIONAL INFO</h2>
                <br>Poor cellphone reception at camp
                <br>If you are experiencing any COVID-19 symptoms, we ask that you stay home. Your registration fee will
                be refunded.
                <br>There is a chance that this retreat may be canceled due to government regulations related to
                COVID-19. Under these circumstances, your registration fee will be refunded.


            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-1 col-md-4">
                <h2>THINGS TO BRING:</h2>
                <br>Bedding for cabins (Mattresses are provided)
                <br>Warm Clothes
                <br>Bible & Journal
                <br>Essential Hygiene Items
                <br>Church Clothes (Skirts for girls & pants for boys)
                <br>Snacks
                <br>Flashlight

                <h2>ADDRESS</h2>
{#                <br><a href="https://www.lutherhaven.com/camp-locations/shoshone-mountain-retreat/" target="_blank">Shoshone Mountain Retreat and Ranch</a>#}
                <br><a href="https://www.riverviewbiblecamp.com/" target="_blank">Riverview Bible Camp</a>
{#                <br>Shoshone Mountain Retreat and Ranch#}
{#                <br>29216 Coeur D'Alene River Rd#}
{#                <br>Wallace, ID 83873#}
                <br>9725, 408771 State Rte 20
                <br>Cusick, WA 99119

                <h2>NON-NEGOTIABLE RULES</h2>
                <br><b>Registration limited to individuals not previously married.</b>
                <br>Keep the territory clean.
                <br>Opposite gender cabins are off limits.
                <br>Clothes should be representative of who we are as Christians.
                <br>No use of drugs, alcohol or tobacco products.
                <br>Participate in all group activities, including adherence to curfews, abide by the rules of the camp
                and other time-related instructions.

                <br>No sexual misconduct.
                <br>Participants will avoid the use of foul language, cursing, or any speech (including “humor”) which
                puts down, makes fun of, or stereotypes other persons or groups.

                <h2>QUESTIONS?</h2>
                <br>Registration: Mark 509-979-5419
                <br>All Other: Andrey 509-290-1133

            </div>
        </div>

        <br>
        <br>
        <br>
        <div class="center md-padding">
            <h5>This retreat is organized by the Department of NWASBC Union</h5>
        </div>
    </div>
</div>
</body>
