<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <title></title>
</head>
<body>
<div class="container">

    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-3 col-md-6">
        <h1>Fully Alive Retreat 2019</h1>
    </div>

    <!-- Dates -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Dates</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            June 14th - 16th
            <br>Check In: 4pm - 6pm
            <br>Check Out: 11am
        </div>
    </div>

    <!-- Cost -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Cost</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            $170 - Before May 1st
            <br>$180 - After May 1st
        </div>
    </div>

    <!-- additional info -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Additional Info</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            Online registration only
            <br>Deadline to register: May 26th
            <br>Capacity: 200 people
            <br>Age: 23 and older
        </div>
    </div>

    <!-- Address -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Address</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <a href="http://www.twinrocks.org" target="_blank">Link: Twin Rock Camp</a>
            <br>18705 N Hwy 101
            <br>Rockaway Beach, OR 97136
        </div>
    </div>

    <!-- Things to bring -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Things to bring:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <ul>
                <li>Bedding, will be in cabins</li>
                <li>Warm Clothes</li>
                <li>Bible & Journal</li>
                <li>Essential Hygiene Items</li>
                <li>Church Clothes</li>
            </ul>
        </div>
    </div>

    <!-- Rules -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Non-Negotiable Rules</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <ul>
                <li>Clothes should be representative of who we are as Christians</li>
                <li>No use of drugs, alcohol or tobacco products</li>
                <li>Participate in all group activities, including adherence to curfews, abide by the rules of the camp
                    and other time-related instructions
                </li>
                <li>No sexual misconduct</li>
                <li>Participants will avoid the use of foul language, cursing, or any speech (including “humor”) which
                    puts down, makes fun of, or stereotypes other persons or groups
                </li>
            </ul>
        </div>
    </div>

    <!-- question -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Questions?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            Registration: Mark 509-979-5419
            <br>All Other: Andrey 509-290-1133‬
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>


</div>

<div class="container">

    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-3 col-md-6">
        <h1>Fully Alive Retreat 2019</h1>
    </div>

    <!-- Dates & Cost-->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-4">
            <h2>Dates</h2>
            <br>June 14th - 16th
            <br>Check In: 4pm - 6pm
            <br>Check Out: 11am
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-4">
            <h2>Cost</h2>
            <br>$170 - Before May 1st
            <br>$180 - After May 1st
        </div>
    </div>

    <!-- additional info  Address-->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-4">
            <h2>Additional Info</h2>
            <br>Online registration only
            <br>Deadline to register: May 26th
            <br>Capacity: 200 people
            <br>Age: 23 and older
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-4">
            <h2>Address</h2>
            <br><a href="http://www.twinrocks.org" target="_blank">Link: Twin Rock Camp</a>
            <br>18705 N Hwy 101
            <br>Rockaway Beach, OR 97136
        </div>
    </div>

    <!-- Things to bring and rules  -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-4">
            <h2>Things to bring:</h2>
            <ul>
                <li>Bedding, will be in cabins</li>
                <li>Warm Clothes</li>
                <li>Bible & Journal</li>
                <li>Essential Hygiene Items</li>
                <li>Church Clothes</li>
            </ul>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-4">
            <h2>Non-Negotiable Rules</h2>
            <ul>
                <li>Clothes should be representative of who we are as Christians</li>
                <li>No use of drugs, alcohol or tobacco products</li>
                <li>Participate in all group activities, including adherence to curfews, abide by the rules of the camp
                    and other time-related instructions
                </li>
                <li>No sexual misconduct</li>
                <li>Participants will avoid the use of foul language, cursing, or any speech (including “humor”) which
                    puts down, makes fun of, or stereotypes other persons or groups
                </li>
            </ul>
        </div>
    </div>

    <!-- question -->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            <h2>Questions?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-4 col-md-4">
            Registration: Mark 509-979-5419
            <br>All Other: Andrey 509-290-1133‬
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>


</div>

<!--
<div class="container">

<pre>
Address: Twin Rock Camp
18705 N Hwy 101, Rockaway Beach, OR 97136
<a href="http://www.twinrocks.org">Link to there website</a>

Dates: Jun 14-16
Check in 4pm-6pm
check out 11am

Cost: $170. Before May 1st
$180, After May 1st

Online registration only. No registration at the door

Deadline to register:  May 26th

Capacity: 200 people

Age: 23 and older

Things to bring:
- Bedding, we will be in cabins
- Warm clothes
- Bible & Journal
- Essential hygiene item
- Church clothes

Registration questions: Mark 509-979-5419

All other questions: Andrey 509-290-1133‬

Non-Negotiable Rules:
- Dress should be representative of who we are as Christians
- No use of drugs, alcohol or tobacco products
- Participate in all group activities, including adherence to curfews, abide by the rules of the camp and other time-related instructions
- No sexual misconduct
- Participants will avoid the use of foul language, cursing, or any speech (including “humor”) which puts down, makes fun of, or stereotypes other persons or groups
</pre>

</div>
-->
</body>