<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <title>More Info</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>

    <style>

        br {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
        }

    </style>
</head>
<body class="wave-backgroud">

<img src="{% static 'registration/NWASBC Logo FINAL Full Wording Vertical White.png' %}" class="logo hidden-xs">
<img src="{% static 'registration/NWASBC Logo Acronym Horizontal.png' %}" class="logo-xs visible-xs">

<div class="container">
    <div class="moreinfoBox col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="center">
            <h1>FULLY ALIVE RETREAT 2019</h1>
        </div>


        <!-- Dates & Cost-->
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-3">
                <h2>DATES</h2>
                <br>June 14<sup>th</sup> - 16<sup>th</sup>
                <br>Check In: 4 PM - 6 PM
                <br>Check Out: 11 AM

                <h2>TOPICS:</h2>
                <br>Day 1 - Living a life with purpose.
                <br>Day 2 - Spiritual discipline & discipline with time/money abilities.
                <br>Day 3 - Living abundantly.

                <h2>ADDITIONAL INFO</h2>
                <br>Online registration only
                <br>Deadline to register: May 26<sup>th</sup>
                <br>Capacity: 200 people
                <br>Age: 23 and older

                <h2>THINGS TO BRING:</h2>
                <br>Bedding for cabins (Mattresses are provided)
                <br>Warm Clothes
                <br>Bible & Journal
                <br>Essential Hygiene Items
                <br>Church Clothes


                <!--<ul>
                    <li>Bedding for cabins (Mattresses are provide)</li>
                    <li>Warm Clothes</li>
                    <li>Bible & Journal</li>
                    <li>Essential Hygiene Items</li>
                    <li>Church Clothes</li>
                </ul>
                -->
            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-1 col-md-4">


                <h2>COST</h2>
                <br>$170 - Before May 1<sup>st</sup>
                <br>$180 - After May 1<sup>st</sup>

                <h2>ADDRESS</h2>
                <br><a href="http://www.twinrocks.org" target="_blank">Link: Twin Rock Camp</a>
                <br>18705 N Hwy 101
                <br>Rockaway Beach, OR 97136

                <h2>NON-NEGOTIABLE RULES</h2>

                <!--
                <ul>
                    <li>Clothes should be representative of who we are as Christians</li>
                    <li>No use of drugs, alcohol or tobacco products</li>
                    <li>Participate in all group activities, including adherence to curfews, abide by the rules of the camp
                        and other time-related instructions
                    </li>
                    <li>No sexual misconduct</li>
                    <li>Participants will avoid the use of foul language, cursing, or any speech (including “humor”) which
                        puts down, makes fun of, or stereotypes other persons or groups
                    </li>
                </ul>
                -->
                <br>Clothes should be representative of who we are as Christians.
                <br>No use of drugs, alcohol or tobacco products.
                <br>Participate in all group activities, including adherence to curfews, abide by the rules of the camp
                and other time-related instructions.

                <br>No sexual misconduct.
                <br>Participants will avoid the use of foul language, cursing, or any speech (including “humor”) which
                puts down, makes fun of, or stereotypes other persons or groups.

                <h2>QUESTIONS?</h2>
                <br>Registration: Mark 509-979-5419
                <br>All Other: Andrey 509-290-1133‬

            </div>
        </div>

        <br>
        <br>
        <br>
        <div class="center md-padding">
            <h5>This retreat is organized by the Department of NWASBC Union</h5>
        </div>
    </div>
</div>
</body>