<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FullyAliveCamp</title>

    <link rel="stylesheet" href="{% static 'registration/assets/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'registration/assets/css/Features-Blue.css' %}"/>
    <link rel="stylesheet" href="{% static 'registration/assets/css/Header-Blue.css' %}"/>
    <link rel="stylesheet" href="{% static 'registration/assets/css/styles.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">

</head>

<body>
<header class="header-blue"
        style="background: url('{% static "registration/assets/img/-1 A .jpg" %}') center / cover no-repeat;min-height: 660px;">

    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"
                        style="border-bottom-color: rgb(255, 255, 255);color: rgb(255, 255, 255);font-size: 20px;font-weight: bold;">
                        <a class="nav-link" onclick="window.location.href = '/infotwo';">More Info</a>
                    </li>
                    <li class="nav-item" style="font-size: 20px;font-weight: bold;font-style: normal;">
                        <a class="nav-link" onclick="window.location.href = 'schedule';">Schedule</a>
                    </li>
                    <li class="nav-item" style="font-size: 20px;font-weight: bold;">
                        <a class="nav-link" onclick="window.location.href = 'photos';">Photo</a>
                    </li>
                    <li class="nav-item" style="font-size: 20px;font-weight: bold;">
                        <a class="nav-link"
                           onclick="window.location.href = 'https://youtu.be/ztPhKAuXx5I';">Video</a>
                    </li>
                    <li class="nav-item" style="font-size: 20px;font-weight: bold;">
                        <a class="nav-link" onclick="window.location.href = '/registration';">Registration</a>
                    </li>
                </ul>
                <form class=" form-inline mr-auto" target="_self">
                    <div class="form-group mb-0">
                        <label for="search-field"></label>
                    </div>
                </form>
                <span class="navbar-text"> </span>
            </div>
        </div>
    </nav>
    <div class="container hero">
        <div class="row">
            <div class="col"><img class="img-fluid" src='{% static "registration/assets/img/title.png" %}'></div>
        </div>
    </div>

</header>
<section class="features-blue"
         style="min-height: 650px;background: url('{% static "registration/assets/img/-2 A .jpg" %}') center / cover no-repeat;">

    <div class="container">

        <div class="intro">
            <h2 class="text-left"
                style="color: #336666;font-family: 'Source Sans Pro', sans-serif;font-size: 30px;font-weight: 400;padding: 10px 10px 25px 10px;">
                AGE 23+</h2>
            <p class="text-center" style="color: #32669a;font-size: 30PX;font-weight: 600;">FULLY ALIVE</p>
            <p class="text-center" style="color: #32669a;font-size: 20px;font-weight: 600;">~ IS A CHRISTIAN PLATFORM
                FOR YOUNG ADULTS TO GET TO KNOW GOD AT A DEEPER LEVEL AND HAVE FELLOWSHIP WITH ONE ANOTHER WHILE ON
                THEIR WALK TOWARDS HEAVEN</p>
        </div>
    </div>
</section>
<section class="features-blue"
         style="min-height: 700px;background: url('{% static "registration/assets/img/-3 A .jpg" %}') center / cover no-repeat;">
    <div class="container">
        <img class="img-fluid" src='{% static "registration/assets/img/verse.png" %}'
             style="min-height: 200px;min-width: 300px;margin: -4px;margin-top: 200px;">
        <img
                class="img-fluid" src='{% static "registration/assets/img/passage.png" %}'
                style="min-width: 100px;margin: -4px;margin-top: 117px;max-height: 58px;margin-left: 215px;">
    </div>
</section>
<section class="features-blue"
         style="min-height: 700px;background: url('{% static "registration/assets/img/4.png" %}') center / cover no-repeat;">
    <div class="container" style="margin-top: 10px;border-style: none;">
        <a class="btn btn-primary active" role="button" style="margin-top: 120px;margin-left: 50px;background: #c4936b;border-radius: 50px;font-weight: bold;max-width: 300px;min-height: 40px;font-size: 25PX;color: #ffffff;text-align: center;min-width: 240px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;"
           onclick="window.location.href = '/fellowship';">WHAT
        TO EXPECT</a></div>
</section>
<section class="features-blue"
         style="min-height: 700px;background: url('{% static "registration/assets/img/-6 A .jpg" %}') center / cover no-repeat;">
    <div class="container" style="margin-top: 10px;"><a class="btn btn-primary active" role="button"
                                                        style="margin-top: 120px;margin-left: 50px;background: #ffffff;border-radius: 50px;font-weight: bold;max-width: 300px;min-height: 40px;font-size: 30px;color: #32669a;text-align: center;min-width: 240px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;"
                                                        onclick="window.location.href = '/infotwo';">MORE INFO</a><a
            class="btn btn-primary active" role="button"
            style="margin-top: 40px;margin-left: 50px;background: #ffffff;border-radius: 50px;font-weight: bold;max-width: 300px;min-height: 40px;font-size: 30px;color: #32669a;text-align: center;min-width: 240px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;"
            onclick="window.location.href = 'schedule';">SCHEDULE</a><a class="btn btn-primary active" role="button"
                                                                            style="margin-top: 40px;margin-left: 50px;background: #ffffff;border-radius: 50px;font-weight: bold;max-width: 400px;min-height: 40px;font-size: 30px;color: #32669a;text-align: center;min-width: 240px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;"
                                                                            onclick="window.location.href = 'photos';">PHOTO</a><a
            class="btn btn-primary active" role="button"
            style="margin-top: 40px;margin-left: 50px;background: #ffffff;border-radius: 50px;font-weight: bold;max-width: 300px;min-height: 40px;font-size: 30px;color: #32669a;text-align: center;min-width: 240px;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;"
            onclick="window.location.href = 'https://youtu.be/ztPhKAuXx5I';">VIDEO</a><a
            class="btn btn-primary active" role="button"
            style="margin-top: 38px;margin-left: 50px;background: #5487c1;border-radius: 50px;font-weight: bold;max-width: 300px;min-height: 40px;font-size: 30px;color: #ffffff;text-align: center;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;"
            onclick="window.location.href = '/registration';">REGISTRATION</a>
    </div>
</section>
<script src="{% static 'registration/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'registration/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
