<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>FullyAliveCamp</title>
    <link rel="stylesheet" href="{% static 'registration/assets/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'registration/assets/css/Features-Blue.css' %}"/>
    <link rel="stylesheet" href="{% static 'registration/assets/css/Header-Blue.css' %}"/>
    <link rel="stylesheet" href="{% static 'registration/assets/css/styles.css' %}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://www.1001fonts.com/austhind-font.html">
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>

</head>

<body>
<header class="header-blue olga-pic-main">

    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item forest-hamburger-text">
                        <a class="nav-link" onclick="window.location.href = '/infotwo';">MORE INFO</a>
                    </li>
                    <li class="nav-item forest-hamburger-text">
                        <a class="nav-link" onclick="window.location.href = 'schedule';">SCHEDULE</a>
                    </li>
                    {#                    <li class="nav-item" style="font-size: 20px;font-weight: bold;">#}
                    {#                        <a class="nav-link" onclick="window.location.href = 'photos';">Photo</a>#}
                    {#                    </li>#}
                    <li class="nav-item forest-hamburger-text">
                        <a class="nav-link"
                           onclick="window.location.href = 'https://youtu.be/ztPhKAuXx5I';">VIDEO</a>
                    </li>
                    <li class="nav-item forest-hamburger-text">
                        <a class="nav-link" onclick="window.location.href = '/registration';">REGISTRATION</a>
                    </li>
                </ul>
                <form class=" form-inline mr-auto" target="_self">
                    <div class="form-group mb-0">
                        <label for="search-field"></label>
                    </div>
                </form>
                <span class="navbar-text"> </span>
            </div>
        </div>
    </nav>
    <div class="" style="text-align: center">
        <div class="row">
            <h2 class="offset-md-1 col-md-10 forest-main-title-fully-alive">Fully Alive</h2>
        </div>
        <div class="row">
            <h2 class="offset-md-2 col-md-8 forest-main-title-retreat">R E T R E A T</h2>
        </div>
        <div class="row">
            <h2 class="offset-md-2 col-md-8 forest-main-title-year">2023</h2>
        </div>
    </div>
    <div class="container hero">
        <div class="row">
{#            <div class="postpone-container-main">#}
{#                <div class="postpone-box-main">#}
{#                    <p style="    background-color: black !important;#}
{#                font-family: 'DengXian Light', sans-serif;#}
{##}
{#    background: rgba(0, 0, 0, 0.5) !important;#}
{#    /*margin-top: 80% !important;*/#}
{#    left: 50%;#}
{#    margin-right: -50%;#}
{#    position: absolute;#}
{#    transform: translate(-50%, 0%) !important;#}
{#    color: white !important;#}
{#            font-size: 18px !important;#}
{#            font-weight: 300 !important;#}
{#                padding: 15px;#}
{##}
{#            ">#}
{#                        Heads up!#}
{#                        <br>The location has changed!#}
{#                        <a onclick="window.location.href = '/infotwo';"><br><u>More Info</u>#}
{#</a>#}
{#                    </p>#}
{##}
{#                </div>#}
{#            </div>#}
        </div>
    </div>

</header>
<section class=" olga-pic-verse-statement">

    <div>
        <div class="row">
            <div class="text-right-desktop forest-mission col-xs-3 offset-md-2 col-md-4">

                <h2 class="forest-mission-text-header">
                    FULLY ALIVE</h2>
                <p class="  forest-mission-text-body">
                    IS A CHRISTIAN PLATFORM FOR YOUNG ADULTS TO GET TO KNOW GOD AT A DEEPER LEVEL AND HAVE
                    FELLOWSHIP WITH ONE ANOTHER
                </p>

            </div>
            <div class=" forest-verse col-xs-3 col-md-4">
                <h2 class="forest-verse-text-header">JOHN 10:10</h2>
                <p class="  forest-verse-text-body">
                    I CAME THAT THEY MAY HAVE LIFE, AND HAVE IT ABUNDANTLY.
            </div>
        </div>
    </div>

</section>
<section class="olga-pic-forest">

    <div>
        <div class="row">
            <div class="camp-dates-div col-xs-3 offset-md-1 col-md-5">
                <h2 class="forest-mission-text-header">
                    AUGUST</h2>
                <div style="margin: 0 auto;">
                    <div style="display: inline-flex">
                        <div class="camp-dates">25</div>
                        <div class="camp-dates">26</div>
                        <div class="camp-dates ">27</div>
                        <div class="camp-dates ">28</div>
                    </div>
                </div>
                <p class="  forest-mission-text-body">
                    <br>
                    <a href="http://www.twinrocks.org"
                       target="_blank" style="color: rgb(77,77,77);   text-decoration: underline;">
                        Twin Rock Camp</a>
                    <br>18705 N Hwy 101
                    <br>Rockaway Beach, OR 97136
                </p>

            </div>
            <div class="forest-time-left-div col-xs-3 col-md-5">

                <div class="forest-time-left-box">
                    <h2 class="forest-mission-text-header">UNTIL THE RETREAT:</h2>
                    <div id="clock"></div>
                </div>
            </div>
        </div>
    </div>


</section>
<section class="features-blue olga-pic-buttom">
    <div class="container" style="text-align: center">
        <div class="row">
            <a class="btn wood-theme-button " role="button" style="margin-top: 120px;"
               onclick="window.location.href = '/fellowship';">WHAT
                TO EXPECT</a>
        </div>
        <div class="row">
            <a class="btn wood-theme-button" role="button" style="margin-top: 40px;"
               onclick="window.location.href = '/infotwo';">MORE
                INFO</a>
        </div>
        <div class="row">
            <a class="btn wood-theme-button" role="button" style="margin-top: 40px;"
               onclick="window.location.href = 'schedule';">SCHEDULE</a>
            {#        <a class="btn wood-theme-button" role="button"  style="margin-top: 40px;"  onclick="window.location.href = 'photos';">PHOTO</a>#}
        </div>
        <div class="row">
            <a class="btn wood-theme-button" role="button" style="margin-top: 40px;"
               onclick="window.location.href = 'https://youtu.be/ztPhKAuXx5I';">VIDEO</a>
        </div>
        <div class="row">
            <a class="btn wood-theme-button" role="button" style="margin-top: 40px;"
               onclick="window.location.href = '/registration';">REGISTRATION</a>
        </div>
    </div>

</section>
<script>
    console.clear();

    function CountdownTracker(label, value) {

        var el = document.createElement('span');

        el.className = 'flip-clock__piece';
        el.innerHTML = '<b class="flip-clock__card card"><b class="card__top"></b><b class="card__bottom"></b><b class="card__back"><b class="card__bottom"></b></b></b>' +
            '<span class="flip-clock__slot">' + label + '</span>';

        this.el = el;

        var top = el.querySelector('.card__top'),
            bottom = el.querySelector('.card__bottom'),
            back = el.querySelector('.card__back'),
            backBottom = el.querySelector('.card__back .card__bottom');

        this.update = function (val, label) {
            if (label == 'Days')
                if (val >= 100)
                    val = ('0' + val).slice(-3); // for longer then 100 days
                else
                    val = ('0' + val).slice(-2);
            else
                val = ('0' + val).slice(-2);
            if (val !== this.currentValue) {

                if (this.currentValue >= 0) {
                    back.setAttribute('data-value', this.currentValue);
                    bottom.setAttribute('data-value', this.currentValue);
                }
                this.currentValue = val;
                top.innerText = this.currentValue;
                backBottom.setAttribute('data-value', this.currentValue);

                this.el.classList.remove('flip');
                void this.el.offsetWidth;
                this.el.classList.add('flip');
            }
        }

        this.update(value, label);
    }

    // Calculation adapted from https://www.sitepoint.com/build-javascript-countdown-timer-no-dependencies/

    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        return {
            'Total': t,
            'Days': Math.floor(t / (1000 * 60 * 60 * 24)),
            'Hours': Math.floor((t / (1000 * 60 * 60)) % 24),
            'Minutes': Math.floor((t / 1000 / 60) % 60),
            'Seconds': Math.floor((t / 1000) % 60)
        };
    }

    function getTime() {
        var t = new Date();
        return {
            'Total': t,
            'Days': Math.floor(t / (1000 * 60 * 60 * 24)),
            'Hours': t.getHours() % 12,
            'Minutes': t.getMinutes(),
            'Seconds': t.getSeconds()
        };
    }

    function Clock(countdown, callback) {

        countdown = countdown ? new Date(Date.parse(countdown)) : false;
        callback = callback || function () {
        };

        var updateFn = countdown ? getTimeRemaining : getTime;

        this.el = document.createElement('div');
        this.el.className = 'flip-clock';

        var trackers = {},
            t = updateFn(countdown),
            key, timeinterval;

        for (key in t) {
            if (key === 'Total') {
                continue;
            }
            trackers[key] = new CountdownTracker(key, t[key]);
            this.el.appendChild(trackers[key].el);
        }

        var i = 0;

        function updateClock() {
            timeinterval = requestAnimationFrame(updateClock);

            // throttle so it's not constantly updating the time.
            if (i++ % 10) {
                return;
            }

            var t = updateFn(countdown);
            if (t.Total < 0) {
                cancelAnimationFrame(timeinterval);
                for (key in trackers) {
                    trackers[key].update(0);
                }
                callback();
                return;
            }

            for (key in trackers) {
                trackers[key].update(t[key], key);
            }
        }

        setTimeout(updateClock, 500);
    }

    var deadline = new Date("August 25 2023 18:00");
    var c = new Clock(deadline, function () {
    });
    document.getElementById('clock').appendChild(c.el);
</script>
<script src="{% static 'registration/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'registration/assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
