<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>

    {% load static %}
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');

        function toggle($toBeHidden, $toBeShown) {
  $toBeHidden.hide().prop('disabled', true);
  $toBeShown.show().prop('disabled', false).focus();
}

function showOptions(inputName) {
  var $select = $(`select[name=${inputName}]`);
  toggle($(`input[name=${inputName}]`), $select);
  $select.val(null);
}


function showCustomInput(inputName) {
  toggle($(`select[name=${inputName}]`), $(`input[name=${inputName}]`));
}
    </script>
</head>
<body class="wave-backgroud">

<form action="/register" method="post">
    {% csrf_token %}
    <!-- the signup form -->
    <div class="container">
        <div class="signupBox col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="row">
                <div class="center">
                    <h2>Registration</h2>
{#     for now               <h5>{{ total_campers }} out of {{ max_capacity }} have registered</h5>#}
                    {% for error in error_message %}
                        <p class="error-text"><strong>{{ error }}</strong></p>
                    {% endfor %}
                </div>

                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">First Name: *</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_first_name" name="camper_first_name" type="text"
                                   class="form-control light name-field" value="{{ first_name }}"
                                   placeholder=""
                                   maxlength="48"/>
                        </div>
                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Last Name: *</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_last_name" name="camper_last_name" type="text"
                                   class="form-control light name-field" value="{{ last_name }}"
                                   placeholder=""
                                   maxlength="48"/>
                        </div>
                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Date of Birth: *</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_date_of_birth" name="camper_date_of_birth" type="date"
                                   class="form-control light ignore" placeholder="mm-dd-yyyy"
                                   maxlength="" value="{{ date_of_birth }}"/>
                        </div>
                    </div>
                </div>
                <div class=" row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Email: *</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_email" name="camper_email" type="email"
                                   class="form-control light email-field" value="{{ email }}"
                                   placeholder=""
                                   maxlength="100"/>
                        </div>
                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Verify Email: *</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_email_again" name="camper_email_again" type="email"
                                   class="form-control light email-field" value="{{ email_v }}"
                                   maxlength="100"/>
                        </div>
                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Phone:*</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_phone" name="camper_phone" type="text"
                                   class="form-control light ignore" placeholder="999-999-9999"
                                   maxlength="15" value="{{ phone }}"/>
                        </div>
                    </div>
                </div>

                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">City: *</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_city" name="camper_city" type="text"
                                   class="form-control light ignore" placeholder=""
                                   maxlength="48" value="{{ city }}"/>
                        </div>
                    </div>
                </div>

                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">State: *</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <select id="camper_state" name="camper_state" type="text"
                                    class="form-control light ignore">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                                <option value="CANADA">Canada</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Medical Notes:</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_med_notes" name="camper_med_notes" type="text"
                                   class="form-control light ignore" placeholder=""
                                   maxlength="400" value="{{ med_notes }}"/>
                        </div>
                    </div>
                </div>

                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Church: *</div>

                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <select id="camper_church" name="camper_church" style="width: -webkit-fill-available;" class="form-control"
                                    onchange="if($(this).val()==='customOption')showCustomInput('camper_church')">
                                <option>{{ church }}</option>
                                <option value="customOption">[type a Church]</option>
                                <option> СЛАВЯНСКАЯ БАПТИСТСКАЯ ЦЕРКОВЬ 'БЛАГОДАТЬ' (VANCOUVER,WA)</option>
                                <option> ЦЕРКОВЬ 'ВОЗРОЖДЕНИЕ' (VANCOUVER, WA)</option>
                                <option>
                                    ПЕРВАЯ СЛАВЯНСКАЯ ЦЕРКОВЬ 'ВЕФИЛЬ' (EAST WENATCHEE,WA)
                                </option>
                                <option>
                                    СЛАВЯНСКАЯ БАПТИСТСКАЯ ЦЕРКОВЬ 'ИСТОЧНИК ЖИЗНИ' (MUKILTEO,WA)
                                </option>
                                <option>
                                    ПЕРВАЯ СЛАВЯНСКАЯ ЦЕРКОВЬ ЕХБ 'CHURCH OF LOVE' (OREGON CITY, OR)
                                </option>
                                <option> ЦЕРКОВЬ 'СВЕТ СПАСЕНИЯ' (CARMICHAEL,CA)</option>
                                <option>
                                    СЛАВЯНСКАЯ БАПТИСТСКАЯ ЦЕРКОВЬ (BELLINGHAM,WA)
                                </option>
                                <option> СЛАВЯНСКАЯ ЦЕРКОВЬ 'СВЕТ ЕВАНГЕЛИЯ' (SPOKANE,WA)</option>
                                <option>
                                    ЦЕРКОВЬ 'НОВАЯ ЖИЗНЬ' (SALEM,OR)
                                </option>
                                <option> ЦЕРКОВЬ 'ГОЛГОФА' (VANCOUVER, WA)</option>
                                <option> ЦЕРКОВЬ 'БЛАГОВЕСТИЕ' (DES MOINES,WA)</option>
                                <option>
                                    ЦЕРКОВЬ 'ВОЗРОЖДЕНИЕ' (FEDERAL WAY, WA)
                                </option>
                                <option> ЦЕРКОВЬ 'ВИФАНИЯ' (FEDERAL WAY, WA)</option>
                                <option>
                                    ЦЕРКОВЬ 'НАДЕЖДА' (EVERETT, WA)
                                </option>
                                <option> ЦЕРКОВЬ ЕХБ (KIRKLAND, WA)</option>
                                <option>
                                    СЛАВЯНСКЯ БАПТИСТСКАЯ ЦЕРКОВЬ Г. СИЭТЛА (LYNNWOOD, WA)
                                </option>
                                <option> ОБЪЕДИНЕННАЯ ЦЕРКОВЬ ЕХБ (TACOMA,WA)</option>
                                <option>
                                    ПЕРВАЯ СЛАВЯНСКАЯ БАПТИСТСКАЯ ЦЕРКОВЬ (SALEM,OR)
                                </option>
                                <option> ЦЕРКОВЬ 'БЛАГОДАТЬ' (LAKEWOOD, WA)</option>
                                <option>
                                    ЦЕРКОВЬ 'СЛОВО ЖИЗНИ' (PORTLAND, OR)
                                </option>
                                <option> ЦЕРКОВЬ 'ЭММАНУИЛ' (VANCOUVER, WA)</option>
                                <option> ЦЕРКОВЬ 'СПАСЕНИЕ' (EDGEWOOD, WA)</option>
                                <option>
                                    ЦЕРКОВЬ 'БЛАГОДАТЬ' (MERIDIAN, ID)
                                </option>
                                <option> ЦЕРКОВЬ 'ПИЛИГРИМ' (SPOKANE, WA)</option>
                                <option> ЦЕРКОВЬ 'НА ГОРЕ' (SPOKANE,WA)</option>
                                <option>
                                    СЛАВЯНСКАЯ ЕВАНГЕЛЬСКАЯ БАПТИСТСКАЯ ЦЕРКОВЬ (VANCOUVER,BC)
                                </option>
                                <option> ЦЕРКОВЬ 'НАДЕЖДА' (KELOWNA, BC)
                                </option>
                            </select>
                            <input id="camper_church" name="camper_church" style="display:none;"
                               disabled="disabled" class="form-control"
                                   onblur="if($(this).val()==='')showOptions('camper_church')" value="{{ church }}">

                        </div>


                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Pastor's Name: *</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_pastor" name="camper_pastor" type="text"
                                   class="form-control light ignore" placeholder=""
                                   maxlength="100" value="{{ pastor }}"/>
                        </div>
                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">Pastor's Phone:*</div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                        <div class="form-group">
                            <input id="camper_pastor_phone" name="camper_pastor_phone" type="text"
                                   class="form-control light ignore" placeholder="999-999-9999"
                                   maxlength="15" value="{{ pastor_number }}"/>
                        </div>
                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-7 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">I am a church member: *</div>
                    </div>
                    <div class="col-xs-2  col-sm-6 col-sm-offset-0 col-md-4">
                        <input id="camper_church_member" name="camper_church_member" type="checkbox"
                               class=" light ignore" value="true"  {% if church_member %}
                               checked {% endif %}
                               maxlength="30"/>
                    </div>
                </div>

                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-7 col-xs-offset-1 col-sm-3 col-sm-offset-2">
                        <div class="form-label">I have not been married: *</div>
                    </div>
                    <div class="col-xs-2  col-sm-6 col-sm-offset-0 col-md-4">
                        <input id="camper_married" name="camper_not_married" type="checkbox"
                               class=" light ignore" value="true" {% if not_married %}
                               checked {% endif %}
                               maxlength="30"/>
                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-1 col-xs-offset-1">
                        <div class="separator bigMarginBottom bigMarginTop"></div>
                    </div>

                </div>
                <br>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                        <input type="submit" class="btn btn-block black-boarder"
                               id="register" value="Register">
                        </input>
                    </div>
                </div>
                <div class="row panel-row flexHeight center-vertically">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                        <br>

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</form>

</body>
<script>
    {#$(document).ready(function () {#}
    {#    date_div = $('#camper_date_of_birth')#}
    {#    if (date_div.prop('type') != 'date'){#}
    {#        date_div.datepicker();#}
    {#    }#}
    {#{);#}
    {##}
    date_div = $('#camper_date_of_birth')
    var datefield = document.createElement("input")

    datefield.setAttribute("type", "date")

    if (datefield.type != "date") { //if browser doesn't support input type="date", load files for jQuery UI Date Picker
        document.write('<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />\n')
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"><\/script>\n')
    }
    if (datefield.type != "date") { //if browser doesn't support input type="date", initialize date picker widget:
        $(document).ready(function () {
            date_div.attr('placeholder', 'Please use selector');
            date_div.datepicker({
                dateFormat: 'mm/dd/yy',
                changeMonth: true,
                changeYear: true,
                yearRange: "1930:2019"
            });
        });
    }
</script>
