<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <title>Schedule</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>

    <style>

        br {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
        }

    </style>
</head>
<body class="wave-backgroud">

<img src="{% static 'registration/NWASBC Logo FINAL Full Wording Vertical White.png' %}" class="logo hidden-xs">
<img src="{% static 'registration/NWASBC Logo Acronym Horizontal.png' %}" class="logo-xs visible-xs">

<div class="container">
    <div class="moreinfoBox col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="center">
            <h1>FULLY ALIVE WINTER RETREAT 2026</h1>
            <h2>SCHEDULE</h2>
        </div>


        <!-- Dates & Cost-->
        <div class="row">

{#            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-3">#}
{#                <h2>Friday</h2>#}
{#                <br>4:00 PM - Registration#}
{#                <br>5:30 PM - Dinner#}
{#                <br>6:30 PM - Church#}
{#                <br>9:00 PM - Night Game#}
{#                <br>9:30 PM - Tea & Snacks#}
{#                <br>10:00 PM - Bonfire#}
{#                <br>10:00 PM - Quiet time#}
{##}
{#                <h2>SATURDAY</h2>#}
{#                <br>8:00 AM - Breakfast#}
{#                <br>9:00 AM - Church#}
{#                <br>10:00 AM - Group Picture#}
{#                <br>11:00 AM - Free time#}
{#                <br>12:00 PM - Lunch#}
{#                <br>1:00 PM - Group Game#}
{#                <br>2:30 PM - Free time#}
{#                <br>5:30 PM - Dinner#}
{#                <br>6:30 PM - Interactive Service#}
{#                <br>8:30 PM - Bon Fire/Sunset#}
{#                <br>9:30 PM - Tea & Snacks#}
{#                <br>10:00 PM - Quiet time#}
{##}
{#            </div>#}
{##}
{#            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-1 col-md-4">#}
{#                <h2>SUNDAY</h2>#}
{#                <br>8:00 AM - Breakfast#}
{#                <br>9:00 AM - Church#}
{#                <br>12:00 AM - Lunch#}
{#                <br>1:00 PM - Drive to Pacific City#}
{#                <br>5:30 PM - Dinner#}
{#                <br>6:30 PM - Interactive Service#}
{#                <br>8:30 PM - Bon Fire/Sunset#}
{#                <br>9:30 PM - Tea & Snacks#}
{#                <br>10:00 PM - Quiet time#}
{##}
{#                <h2>Monday</h2>#}
{#                <br>8:00 AM - Breakfast & Pack#}
{#                <br>9:00 AM - Church#}
{#                <br>10:00 AM - Leave#}
{##}
{##}
{#            </div>#}

                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-3">
                <h2>Wednesday</h2>
                <br>4:00 PM - Check-in
                <br>5:30 PM - Dinner
                <br>7:00 PM - Church
                <br>8:00 PM - Free Time
                <br>9:00 PM - Tea & Snacks
                <br>10:00 PM - Quiet time

                <h2>Thursday</h2>
                <br>8:00 AM - Sermon
                <br>9:00 AM - Breakfast
                <br>10:00 AM - Ski/Snowboard/Tub
                <br>2:00 PM - Lunch
                <br>6:00 PM - Dinner
                <br>7:00 PM - Church
                <br>8:00 PM - Free Time
                <br>9:00 PM - Tea & Snacks
                <br>10:00 PM - Quiet time

            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-1 col-md-4">
                <h2>Friday</h2>
                <br>9:00 AM - Breakfast
                <br>10:00 AM - Sermon
                <br>11:00 AM - Free Time
                <br>1:00 PM - Lunch
                <br>2:00 PM - Group Game
                <br>3:00 PM - Free Time
                <br>6:00 PM - Dinner
                <br>7:00 PM - Church
                <br>8:00 PM - Free Time
                <br>9:00 PM - Tea & Snacks
                <br>10:00 PM - Quiet time

                <h2>Saturday</h2>
                <br>9:00 AM - Breakfast
                <br>10:00 AM - Church
                <br>11:00 AM - Leave


            </div>

        </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="margin-top: 50px">
        <div class="center">
            <span>This is a tentative schedule where activities and times are not final and may be subject to change.</span>
        </div>
        <br>
        <br>
        <br>
        <div class="center md-padding">
            <h5>This retreat is organized by the Department of NWASBC Union</h5>
        </div>
    </div>
</div>
</body>
