<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <!-- css link -->
    <link rel="stylesheet" href="{% static 'registration/style.css' %}"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="https://img.icons8.com/color/50/000000/tent.png" type="image/x-icon">
    <title>More Info</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135068928-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-135068928-1');
    </script>

    <style>

        br {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
        }

    </style>
</head>
<body class="wave-backgroud">

<img src="{% static 'registration/NWASBC Logo FINAL Full Wording Vertical White.png' %}" class="logo hidden-xs">
<img src="{% static 'registration/NWASBC Logo Acronym Horizontal.png' %}" class="logo-xs visible-xs">

<div class="container">
    <div class="moreinfoBox col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="center">
            <h1>FULLY ALIVE RETREAT 2020</h1>
            <h2>SCHEDULE</h2>
        </div>


        <!-- Dates & Cost-->
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-2 col-md-3">
                <h2>THURSDAY</h2>
                <br>4:00 PM - Registration & Free-Time
                <br>6:00 PM - Dinner
                <br>7:00 PM - Church
                <br>8:30 PM - Bon fire at the Beach
                <br>10:30 PM - Quit time
                <h2>FRIDAY</h2>
                <br>8:00 AM - Breakfast
                <br>9:00 AM - Church
                <br>11:00 AM - Free time
                <br>12:00 PM - Lunch
                <br>1:00 PM - Group Game
                <br>2:00 PM - Free time
                <br>4:30 PM - Group Activity
                <br>6:00 PM - Dinner
                <br>7:00 PM - Church
                <br>8:30 PM - Bonfire at the beach
                <br>10:30 PM - Quite time

            </div>

            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-md-offset-1 col-md-4">
                <h2>SATURDAY</h2>
                <br>8:00 AM - Breakfast
                <br>9:00 AM - Church
                <br>10:30 AM - Group picture
                <br>11:00 AM - Free time
                <br>12:00 PM - Lunch
                <br>1:00 PM - Group Game
                <br>2:00 PM - Free time
                <br>4:30 PM - Group Activity
                <br>6:00 PM - Dinner
                <br>7:00 PM - Church
                <br>8:30 PM - Bonfire at the beach
                <br>10:30 PM - Quite time
                <h2>SUNDAY</h2>
                <br>8:00 AM - Breakfast & Pack
                <br>9:00 AM - Church
                <br>11:00 AM - Leave on time

            </div>
        </div>
            <div class="moreinfoBox col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="center">
            <h4>This is a tentative schedule where activities and times are not final and may be subject to change.</h4>
        </div>
        <br>
        <br>
        <br>
        <div class="center md-padding">
            <h5>This retreat is organized by the Department of NWASBC Union</h5>
        </div>
    </div>
</div>
</body>
